.button {
  flex-wrap: wrap;
  background-color: var(--manatee);
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  color: var(--imperialRed);
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  border: var(--amaranthRed) 2px solid;
}

.button:hover {
  background-color: var(--amaranthRed);
  color: var(--aliceBlue);
  text-shadow: black 0.5px 0.5px 0.5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
