.project {
  text-align: center;
  color: var(--imperialRed);
  font-family: "Press Start 2P", cursive;
}

.showcase {
  text-align: center;
  margin: 20px auto;
}

.showcase img {
  height: 350px;
  width: 450px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

@media screen and (max-width: 812px) {
  .showcase img {
    position: relative;
    height: 200px;
    width: 250px;
  }
}
