.footer {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  background-color: var(--manatee);
  padding: 10px;
  color: var(--imperialRed);
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100vw;
}

.logo {
  font-size: 30px;
  color: var(--imperialRed);
  padding: 2px;
}

.logo:hover {
  color: var(--spaceCadet);
}

@media screen and (max-width: 812px) {
  .footer {
    font-size: 3vw;
    position: relative;
    left: 0px;
    bottom: 0px;
    padding: 0px;
  }
  .logo {
    font-size: 20px;
  }
}
